<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <h1>
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.viewhelper.xlf:h1.edit" />
        </h1>

        <form name="tx_extensionbuilder_form" id="tx_extensionbuilder_form" method="post">
            <div>

                <f:render partial="Fields/Name" arguments="{componentData: componentData}" />
	    		<f:render partial="Fields/Description" arguments="{componentData: componentData}" />
	    		<f:render partial="Fields/ToDo" arguments="{componentData: componentData}" />

            </div>
        </form>

    </f:section>
</html>