<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Component"
            id="component-edit-form"
        >
            <h1>
                <f:translate 
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.viewhelper.xlf:h1.edit"
                    arguments="{0: componentUid}"
                />
            </h1>

            <div>
                <f:render partial="Component/FieldUid" arguments="{componentUid: componentUid}" />
<f:comment>
                <f:render partial="Component/FieldName" arguments="{componentData: componentData}" />
</f:comment>
	    		<f:render partial="Component/FieldDescription" arguments="{componentData: componentData}" />
	    		<f:render partial="Component/FieldToDo" arguments="{componentData: componentData}" />
            </div>
        </f:form>

    </f:section>
</html>