<div class="form-section" id="extension_name_row">

    <div class="form-group">
        <label for="developer.author">
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:developer.author"/>
        </label>
        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="developerData.author"
                name="developerData[author]"
                value="{developerData.author}"
            />
        </div>
    </div>

    <div class="form-group">
        <label for="developer.author_email">
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:developer.author_email"/>
        </label>
        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="developerData.author_email"
                name="developerData[author_email]"
                value="{developerData.author_email}"
            />
        </div>
    </div>

    <div class="form-group">
        <label for="developer.author">
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:developer.author_company"/>
        </label>
        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="developerData.author_company"
                name="developerData[author_company]"
                value="{developerData.author_company}"
            />
        </div>
    </div>

</div>