<f:comment>ToDo</f:comment>

<div class="form-section">
    <div class="form-group" style="max-width: 324px;">

        <label class="default-project">
            <f:translate key="{lllBase}.developer.xlf:defaultProject" />
        </label>
        <div class="form-control-wrap">
            <select
                class="form-select"
                id="default-project"
                name="developer[typo3][project]"
            >
                <f:for each="{projects}" key="projectKey" as="projectName">
                    <option
                        value="{projectKey}"
                        title="{projectName}"
                        {f:if(condition:'{projectKey} == {developer.typo3.project} ',then:'selected="selected"')}
                    >
                        {projectName}
                    </option>
                </f:for>
            </select>
        </div>
    </div>

    <div class="form-group" style="max-width: 324px;">
        <label for="default-vendor">
            <f:translate key="{lllBase}.developer.xlf:defaultVendor" />
        </label>
        <div class="form-control-wrap">
            <select class="form-select" name="developer[typo3][vendor]">
                <f:for each="{vendors}" key="vendorKey" as="vendorName">
                    <option
                        value="{vendorKey}"
                        title="{vendorName}"
                        {f:if(condition:'{vendorKey} == {developer.typo3.vendor} ',then:'selected="selected"')}
                    >
                        {vendorName}
                    </option>
                </f:for>
            </select>
        </div>
    </div>

</div>