<f:comment>ToDo</f:comment>

<div class="form-section">

    <div class="raw">
        <div class="form-group">
            <label class="form-label">
flushT3andPhpCache
                <f:translate key="{lllBase}.developer.xlf:typo3.maintenance.flushT3andPhpCache" />
            </label>
            <div class="formengine-field-item">
                <div class="form-wizards-wrap">
                    <div class="form-wizards-item-element">
                        <div class="form-check form-switch">
                            <input
                                type="hidden"
                                name="developer[typo3][maintenance][flushT3andPhpCache]"
                                value="false"
                            >
                            <input
                                type="checkbox"
                                class="form-check-input"
                                name="developer[typo3][maintenance][flushT3andPhpCache]"
                                value="true"
                                {f:if(
                                    condition: '{developer.typo3.maintenance.flushT3andPhpCache}',
                                    then:'checked=developer.typo3.maintenance.flushT3andPhpCache'
                                )}
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="raw">
        <div class="form-group">
            <label class="form-label">
analyzeDatabaseStructure
                <f:translate key="{lllBase}.developer.xlf:typo3.maintenance.analyzeDatabaseStructure" />
            </label>
            <div class="formengine-field-item">
                <div class="form-wizards-wrap">
                    <div class="form-wizards-item-element">
                        <div class="form-check form-switch">
                            <input
                                type="hidden"
                                name="developer[typo3][maintenance][analyzeDatabaseStructure]"
                                value="false"
                            >
                            <input
                                type="checkbox"
                                class="form-check-input"
                                name="developer[typo3][maintenance][analyzeDatabaseStructure]"
                                value="true"
                                {f:if(
                                    condition: '{developer.typo3.maintenance.analyzeDatabaseStructure}',
                                    then:'checked=developer.typo3.maintenance.analyzeDatabaseStructure'
                                )}
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="raw">
        <div class="form-group">
            <label class="form-label">
rebuildPhpAutoload
                <f:translate key="{lllBase}.developer.xlf:typo3.maintenance.rebuildPhpAutoload" />
            </label>
            <div class="formengine-field-item">
                <div class="form-wizards-wrap">
                    <div class="form-wizards-item-element">
                        <div class="form-check form-switch">
                            <input
                                type="hidden"
                                name="developer[typo3][maintenance][rebuildPhpAutoload]"
                                value="false"
                            >
                            <input
                                type="checkbox"
                                class="form-check-input"
                                name="developer[typo3][maintenance][rebuildPhpAutoload]"
                                value="true"
                                {f:if(
                                    condition: '{developer.typo3.maintenance.rebuildPhpAutoload}',
                                    then:'checked=developer.typo3.maintenance.rebuildPhpAutoload'
                                )}
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>