<div class="table-fit">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    f:translate key="{lllBase}.project.xlf:list" />
                    ({projects -> f:count()})
                </th>
                <th>
                    <f:translate key="{lllBase}.xlf:label.info" />
                </th>
                <f:for
                    each="{projectDev.fieldsEdit}"
                    as="fieldAs"
                    key="fieldKey"
                >
                    <f:if condition="{fieldAs.showInList}">
                        <th>
                            <f:if condition="{f:translate(key: '{lllBase}.project.xlf:label.{fieldKey}')} != ''">
                                <f:then>
                                    {f:translate(key: '{lllBase}.project.xlf:label.{fieldKey}')}
                                </f:then>
                                <f:else>
                                    {fieldsKey -> f:format.case(mode: 'capital')} <code>(No LLL - label.{fieldKey})</code>
                                </f:else>
                            </f:if>
                        </th>
                    </f:if>
                </f:for>
                <th data-sort-method="none"></th>
            </tr>
        </thead>

        <tbody>
            <f:for
                each="{projects}"
                key="projectKey"
                as="projectData"
            >
                <tr>
                    <f:comment>Name</f:comment>
                    <td class="nowrap-disabled">
                        <div class="name">
                            <f:link.action
                                action="edit"
                                controller="Project"
                                arguments="{'projectKey': projectKey}"
                            >
                                <strong>{projectData.name}</strong>
                            </f:link.action>
                        </div>
                    </td>
                    <f:for
                        each="{projectDev.fieldsEdit}"
                        as="fieldAs"
                        key="fieldKey"
                    >
                        <f:if condition="{fieldAs.showInList}">
                            <f:switch expression="{fieldAs.type}">
                                <f:case value="check">
                                    <td class="eb-width-50">
                                       <div class="form-check form-switch">
                                           <f:form.checkbox
                                               class="form-check-input"
                                               value="1"
                                               checked="{componentAs.{fieldKey}}"
                                               disabled="disabled"
                                           />
                                       </div>
							        </td>
                                </f:case>
                                <f:case value="select">
                                    <td class="eb-width-200">
{componentAs.{fieldKey}}
                                    </td>
                                </f:case>
                                <f:defaultCase>
                                    <td class="eb-width-200">
                                        {componentAs.{fieldKey}}
                                    </td>
                                </f:defaultCase>
                            </f:switch>


                        </f:if>
                    </f:for>

                    <f:comment>Description</f:comment>
                    <td class="nowrap-disabled">
                        <strong>
                            {projectData.description -> f:format.crop(maxCharacters: 50)}
                        </strong>
                    </td>

                    <f:comment>Control block</f:comment>
                    <td class="col-control align-top">
                        <div class="btn-group">
                            <f:comment>Edit</f:comment>
                            <f:link.action
                                action="edit"
                                controller="Project"
                                class="btn btn-default"
                                arguments="{'projectKey': projectKey}"
                                data="{bs-toggle: 'tooltip'}"
                                title="{f:translate(key:'{lllBase}.xlf:edit')}"
                            >
                                <core:icon identifier="actions-open" />
                            </f:link.action>
                        </div>

                        <div class="btn-group">
                            <f:comment>Delete</f:comment>
                            <f:link.action
                                action="delete"
                                controller="Project"
                                class="btn btn-default t3js-modal-trigger"
                                arguments="{'projectKey': projectKey}"
                                data="{
                                    bs-toggle: 'tooltip',
                                    severity: 'warning',
                                    button-close-text: '{f:translate(key: \'{lllBase}.xlf:cancel\')}',
                                    bs-content='{f:translate(key: \'{lllBase}.xlf:msg.delete\')}'
                                }"
                                    title="{f:translate(key:'{lllBase}.xlf:delete')}"
                            >
                                <core:icon identifier="actions-edit-delete" />
                            </f:link.action>
                        </div>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
</div>
