<div class="tx_extensionbuilder_mod1_configuration">
    <div class="panel panel-default overflow-visible">

        <div class="btn-toolbar panel-heading">

            <f:alias
                map="{add: {
                    Command: 'Command',
                    Scheduler: 'Scheduler',
                }}"
            >

<f:comment>
                    ViewHelper: 'ViewHelper',
                    Plugin: 'Plugin',
                    Scheduler: 'Scheduler',
                    Command: 'Command',
                    EventListener: 'Event listener',
                    BackendModul: 'Backend module',
                    BackendRoute: 'Backend route',
                    ContentElement: 'Content Element',
                    Enumeration: 'Enumeration'
                    Table: 'Table',
</f:comment>

                <f:for each="{add}" as="wert" key="key">
                    <f:link.action
                        action="add"
                        controller="{key}"
                        arguments="{'vendorName': vendorName, 'extensionName': extensionName}"
                        class="btn btn-default"
                        data="{bs-toggle: 'tooltip'}"
                        title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:editextension')}"
                    >
                        {wert}
                    </f:link.action>
                </f:for>
            </f:alias>

        </div>
    </div>
</div>