<f:comment>ToDo</f:comment>

<f:if condition="{currentProject} != 'no'">
    <h1>
        <f:translate key="{lllBase}.extensions.xlf:overviewOfProjectExtensions" />
    </h1>
    <f:render 
        partial="Extension/List"
        arguments="{
            lllBase: lllBase,
            extensions: project.extensions,
            headline: 'Current Project',
            name: currentProjects.name,
            groupId: 'extensions'
        }"
    />
    <f:if condition="{project.dependencies}">
        <f:render
            partial="Extension/List"
            arguments="{
                lllBase: lllBase,
                extensions: project.dependencies,
                extensionOnOff: true,
                headline: 'Project dependencies',
                name: currentProjects.name,
                groupId: 'dependencies',
                collapsed: true
            }"
        />
    </f:if>
</f:if>