<div id="extensionbuilder-extension-version">

    <label class="from-label t3js-formengine-label">
        <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extensions.xlf:label.version" />
    </label>
    <div class="form-control-wrap">
        <input type="text" id="version" class="form-control" name="extensionData[extension][version]" value="{extensionData.extension.version}" />
    </div>

    <label for="extensionDescription">
        <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extensions.xlf:label.version.major" />
    </label>
    <div class="form-control-wrap">
        <input type="text" id="versionMajor" class="form-control" name="extensionData[extension][versionMajor]" value="{extensionData.extension.versionMajor}" />
    </div>



    <label for="extensionDescription">
        <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extensions.xlf:label.version.minor"/>
    </label>
    <div class="form-control-wrap">
        <input type="text" id="versionMinor" class="form-control" name="extensionData[extension][versionMinor]" value="{extensionData.extension.versionMinor}" />
    </div>



    <label for="extensionDescription">
        <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extensions.xlf:label.version.revision" />
    </label>
    <div class="form-control-wrap">
        <input type="text" id="versionRevision" class="form-control" name="extensionData[extension][versionRevision]" value="{extensionData.extension.versionRevision}" />
    </div>


</div>
