<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:asset.css
            identifier="litegraph"
            href="EXT:extensionbuilder_typo3/Resources/Public/Css/litegraph.css"
        />

        <f:asset.script 
            identifier="litegraph"
            src="EXT:extensionbuilder_typo3/Resources/Public/JavaScript/Contrib/Litegraph/litegraph.min.js"
        />
        <f:asset.script
            identifier="ext-kickstarter"
            src="EXT:extensionbuilder_typo3/Resources/Public/JavaScript/extensioninfo.js"
        />

        <div id="graph-container" data-extension="{extension}" data-components="{components}">

<f:comment>
            <button id="buildExtension" class="eb-build-extension-button">Build Extension</button>
</f:comment>

        </div>

    </f:section>
</html>