<div class="form-group">
    <div class="form-control-wrap">
        <label>
            <f:translate key="{lllBase}.extension.xlf:label.extensionType" />
        </label>
        <select
            name="extensionData[extension][type]"
            id="extensionData.extension][type"
            class="form-select"
        >
            <option
                value="extension"
                title="Extension"
            >
                Extension
            </option>
            <option
                value="sitepackage"
                title="Site Package"
            >
                Site Package
            </option>
        </select>
    </div>
</div>