<div id="extensionbuilder-extension-version">
<fieldset class="form-section">
    <div class="row">

        <label>
            <f:translate
                key="{lllBase}.extension.xlf:label.version"
            />
        </label>


        <div class="form-section col col-sm-4">
    <label>
        <f:translate
            key="{lllBase}.extension.xlf:label.version.major"
        />
    </label>
    <div class="form-control-wrap">
        <input
            type="number"
            id="versionMajor"
            class="form-control"
            name="extensionData[extension][versionMajor]"
            value="{extensionData.extension.versionMajor}"
        />
    </div>
</div>

<div class="form-section  col col-sm-4">
    <label>
        <f:translate
            key="{lllBase}.extension.xlf:label.version.minor"
        />
    </label>
    <div class="form-control-wrap">
        <input
            type="number"
            id="versionMinor"
            class="form-control"
            name="extensionData[extension][versionMinor]"
            value="{extensionData.extension.versionMinor}"
        />
    </div>
</div>
<div class="form-section col col-sm-4">
    <label>
        <f:translate
            key="{lllBase}.extension.xlf:label.version.revision"
        />
    </label>
    <div class="form-control-wrap">
        <input
            type="number"
            id="versionRevision"
            class="form-control"
            name="extensionData[extension][versionRevision]"
            value="{extensionData.extension.versionRevision}"
        />
    </div>

</div>

    </div>
</fieldset>
</div>