<f:comment>ToDo</f:comment>

<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Extension"
            id="extension-add-form"
        >
            <h1>
                <f:translate key="{lllBase}.extension.xlf:h1.add" />
            </h1>

            <div class="tx_extensionbuilder_module">
                <f:render partial="Extension/Fields/ExtensionType" arguments="{lllBase: '{lllBase}', extensionData: '{extensionData}'}" />

    			<f:render
                    partial="Extension/Fields/VendorGroup"
                    arguments="{
                        lllBase: '{lllBase}',
                        extensionData: '{extensionData}',
                        registeredVendorGroups: '{registeredVendorGroups}'
                    }"
                />

                <f:render partial="Extension/Fields/Name" arguments="{lllBase: '{lllBase}', extensionData: '{extensionData}'}" />
                <f:render partial="Extension/Fields/Title" arguments="{lllBase: '{lllBase}', extensionData: '{extensionData}'}" />
	    		<f:render partial="Extension/Fields/Description" arguments="{lllBase: '{lllBase}', extensionData: '{extensionData}'}" />

	    		<f:render
                    partial="BuildFields"
                    arguments="{
                        lllBase: '{lllBase}',
                        componentData: '{componentData}',
                        fields: '{componentFields}',
                        fieldData: '{componentData}'
                    }"
	    		/>

                <f:if condition="{projects}">
    			    <f:render
                        partial="Extension/Fields/Projects"
                        arguments="{
                            lllBase: '{lllBase}',
                            projects: '{projects}'
                        }"
                    />
		        </f:if>
            </div>
        </f:form>

    </f:section>
</html>