<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Developer"
            id="extension-edit-form"
        >
<f:comment>
<f:be.pageRenderer includeJavaScriptModules="{0: '@extensionbuilder/typo3/react-tables.js'}" />
</f:comment>
            <h1>
                <f:translate
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extension.xlf:h1.edit"
                    arguments="{0: extensionName}"
                />
            </h1>

            <div>

                <f:if condition="{extensionData.extension.type} == 'sitepackage'">
                    <h2>
                        <f:translate
                            key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extension.xlf:typeSitepackage"
                        />
                    </h2>
                    <br />
                </f:if>

<f:comment>
<f:form.textfield name="formData[field1]" label="Field 1" />

<label for="my_custom_field">Mein benutzerdefiniertes Feld:</label>
<textarea
 id="my_custom_field"
 name="my_custom_field"
 rows="10"
 cols="80">
{extensionData.extension.description}
</textarea>
</f:comment>

                <f:render
                    partial="Extension/Extension"
                    arguments="{
	    		        extensionName: extensionName,
    	    		    vendorName: vendorName,				   
                        extensionData: extensionData,
                        registeredVendorGroups: registeredVendorGroups
                    }"
                />

                <f:if condition="{extensionData.extension.type} == 'sitepackage'">
                    <f:then>
						SitePackage
                        <f:render
                            partial="SitePackage/Edit"
                            arguments="{
	    		                extensionName: extensionName,
            	    		    vendorName: vendorName,
                                extensionData: extensionData,
                                registeredVendorGroups: registeredVendorGroups
                            }"
                        />
                    </f:then>
                    <f:else>


                        <f:comment>Add Properties</f:comment>
                        <f:render
                            partial="Extension/AddProperties"
                            arguments="{extensionName: extensionName, vendorName: vendorName}"
                        />
<f:comment>
        	    		<f:if condition="{extensionData.tables -> f:count()} > 0">
                            <f:render
                                partial="Table/List"
                                arguments="{extensionName: extensionName, vendorName: vendorName, tableData: extensionData.tables}"
                            />
		        	    </f:if>
</f:comment>
        	    		<f:if condition="{extensionData.backend.module -> f:count()} > 0">
                            <f:render
                                partial="Backend/Module/List"
                                arguments="{extensionName: extensionName, vendorName: vendorName, tableData: extensionData.tables}"
                            />
		        	    </f:if>

        	    		<f:if condition="{extensionData.backend.routesX -> f:count()} > 0">
                            <f:render
                                partial="Backend/Routes/List"
                                arguments="{
    		            	        extensionName: extensionName, vendorName: vendorName, tableData: extensionData.tables}"
                            />
		        	    </f:if>

        	    		<f:if condition="{extensionData.viewHelpers -> f:count()} > 0">
                            <f:render
                                partial="ComponentsList"
                                arguments="{
                                    extensionName: extensionName,
                                    vendorName: vendorName,
                                    componentsName: 'ViewHelper',
                                    componentsRoute: 'ViewHelper',
                                    componentsData: extensionData.viewHelpers
                                }"
                            />
		        	    </f:if>

        	    		<f:if condition="{extensionData.commands -> f:count()} > 0">
                            <f:render
                                partial="ComponentsList"
                                arguments="{
                                    extensionName: extensionName,
                                    vendorName: vendorName,
                                    componentsName: 'Command',
                                    componentsRoute: 'Command',
                                    componentsData: extensionData.commands
                                }"
                            />
		        	    </f:if>

<f:comment>
        	    		<f:if condition="{extensionData.schedulers -> f:count()} > 0">
                            <f:render
                                partial="ComponentsList"
                                arguments="{
                                    extensionName: extensionName,
                                    vendorName: vendorName,
                                    componentsName: 'Scheduler',
                                    componentsRoute: 'Scheduler',
                                    componentsData: extensionData.schedulers
                                }"
                            />
		        	    </f:if>
</f:comment>
                    </f:else>
                </f:if>

            </div>
        </f:form>

    </f:section>
</html>