<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <div
            id="extensionbuilder-module"
            data-eb-module="extensionbuilder_typo3_extension"
            data-eb-current-vendor="{currentVendor}"
        >
            <p>
                <b>
                    Found a bug? Let us know via
                    <a
                        href="https://github.com/ExtensionBuilder/extensionbuilder-typo3/issues"
                        target="_blank">
                        GitHub Issues
                    </a>.
                </b>
            </p>

            <h1>
                <f:translate key="{lllBase}.extension.xlf:h1.list" />
                <f:if condition="{isProKeyToDo}">
                    - Pro Version
                </f:if>
            </h1>

<f:comment>
            <div class="btn-group mb-3">
                <button type="button" class="btn btn-sm btn-default js-eb-reset-module-state">
                    Status dieses Moduls zurücksetzen
                </button>

                <button type="button" class="btn btn-sm btn-default js-eb-open-last-module">
                    Letztes Modul öffnen
                </button>
            </div>
</f:comment>


            <f:if condition="{projects -> f:count()}">
                <f:render partial="ExtensionListProject" arguments="{_all}" />
            </f:if>

            <f:if condition="{currentVendor} == 'all'">
                <f:then>
                    <f:render partial="ExtensionListShowAllVendor" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:if condition="{currentVendor} != 'no'">
                        <f:render partial="ExtensionListShowOneVendor" arguments="{_all}" />
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </f:section>
</html>
