<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:be.pageRenderer
            includeJavaScriptModules="{
                0: '@extensionbuildertypo3/Backend/table.js'
            }"
        />

<f:comment>
<div style="width:100%; height:600px;">
<canvas id="myLitegraph" width="100%" height="100%"></canvas>
</div>

this.addToolsButton("loadsession_button","Load","imgs/icon-load.png", this.onLoadButton.bind(this), ".tools-left" );

</f:comment>
<f:comment>
<canvas id="myLitegraph" width="1000" height="400"></canvas>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var graph = new LGraph();
    var canvas = new LGraphCanvas("#myLitegraph", graph);


    // Beispiel: einfacher Knoten
    var node_const = LiteGraph.createNode("basic/const");
    node_const.pos = [200, 200];
    node_const.setValue(4.5);
    graph.add(node_const);

	
    graph.start();
});
</script>
</f:comment>
<p><b>
This is the preview of the first release candidate.<br />
Some features are currently unavailable or intentionally disabled.<br />
They will be added gradually in the near future.<br />
<br />
Found a bug? Let us know via GitHub Issues.<br />
</b></p>

        <h1>
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.extension.xlf:h1.list" />
        </h1>

        <f:if condition="{project -> f:count()}">
            <f:render partial="Extension/ListProject" arguments="{_all}" />
        </f:if>

        <f:if condition="{currentVendor} == 'all'">
            <f:then>
                <f:render partial="Extension/ListShowAllVendor" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:if condition="{currentVendor} != 'no'">
                    <f:render partial="Extension/ListShowOneVendor" arguments="{_all}" />
                </f:if>
            </f:else>
        </f:if>

    </f:section>
</html>