<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <p><b>
        Found a bug? Let us know via <a href="https://github.com/ExtensionBuilder/extensionbuilder-typo3/issues" target="_blank">GitHub Issues</a>.<br />
        <br />
        Add: Command | Scheduler | ViewHelper(beta)
        </b></p>

        <h1>
            <f:translate key="{lllBase}.extension.xlf:h1.list" />
            <f:if condition="{isProKey}">
                - Pro Version -
            </f:if>
        </h1>

        <f:if condition="{project -> f:count()}">
            <f:render partial="Extension/ListProject" arguments="{_all}" />
        </f:if>

        <f:if condition="{currentVendor} == 'all'">
            <f:then>
                <f:render partial="Extension/ListShowAllVendor" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:if condition="{currentVendor} != 'no'">
                    <f:render partial="Extension/ListShowOneVendor" arguments="{_all}" />
                </f:if>
            </f:else>
        </f:if>

    </f:section>
</html>