<f:if condition="{components -> f:count()} > 0">
    <f:for each="{components}" as="component">
        <f:if condition="!{extensionData.{component.uid}}">
            <f:variable name="showComponents">show</f:variable>
        </f:if>
    </f:for>
</f:if>

<f:if condition="{showComponents}">
    <f:if condition="{components -> f:count()} > 0">
        <div class="tx_extensionbuilder_mod1_configuration">
            <div class="panel panel-default overflow-visible">
                <div class="btn-toolbar panel-heading">
                    <f:for each="{components}" as="component">
                        <f:if condition="!{extensionData.{component.uid}}">
                            <f:link.action
                                action="add"
                                 controller="{component.controller}"
                                 arguments="{
                                     'vendorName': vendorName,
                                     'extensionName': extensionName,
                                     'component': component
                                 }"
                                 class="btn btn-default"
                                 data="{bs-toggle: 'tooltip'}"
                                 title="{component.title}"
                             >
                                 {component.title}
                            </f:link.action>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>
</f:if>

<f:for each="{extensionData}" as="componentsData" key="componentsKey">
    <f:for each="{components}" as="component">
        <f:if condition="{component.uid} == {componentsKey}">
            <f:if condition="{componentsData -> f:count()} > 0">
                <div class="tx_extensionbuilder_mod1_configuration">
                    <div class="panel panel-default overflow-visible">
                        <div class="panel-heading multi-record-selection-panel" data-group-id="{componentsKey}">

                            <button
                                type="button"
                                title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group')}"
                                class="btn btn-link fw-bold pt-1 p-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#{component.uid}-group-tables"
                                aria-expanded="{f:if(condition: '{component.uid}GroupCollapsed', then: 'false', else: 'true')}"
                            >
                                <span>{component.title}</span>
                                <span
                                    class="t3js-table-total-items"
                                    title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group.taskCount')}">
                                    ({componentsData -> f:count()})
                                </span>
                            </button>

                            <f:link.action
                                action="add"
                                controller="{component.controller}"
                                arguments="{
                                    'vendorName': vendorName,
                                    'extensionName': extensionName,
                                    'component': component
                                }"
                                class="btn btn-default"
                                data="{bs-toggle: 'tooltip'}"
                                title="Add Table"
                            >
                                Add
                            </f:link.action>

                            <button
                                type="button"
                                class="btn btn-default btn-sm float-end t3js-toggle-table"
                                data-bs-toggle="collapse"
                                data-bs-target="#{component.uid}-group-tables"
                                aria-expanded="{f:if(condition: '{component.uid}GroupCollapsed', then: 'false', else: 'true')}"
                            >
                                <span class="collapseIcon">
                                    <core:icon
                                        identifier="{f:if(condition: '{component.uid}GroupCollapsed', then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}"
                                        size="small"
                                    />
                                </span>
                            </button>

                        </div>
			
                        <div
                            class="panel-collapse collapse {f:if(condition: '{component.udi}GroupCollapsed', then: 'show')}"
                            id="{component.uid}-group-tables"
                            data-table="task-group-{componentsName}"
                        >
				
                            <div class="table-fit mb-0">
                                <table class="table table-striped table-hover Group-table">
                                    <thead>
                                        <tr class="taskGroup_{vendorGroupId}">
									
                                            <th>
                                                <f:translate
                                                   key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.component.xlf:label.uid"
                                                />
                                            </th>
                                            <th>
                                                <f:translate
                                                key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.component.xlf:label.description"
                                                />
                                            </th>

                                            <th data-sort-method="none"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <f:for each="{componentsData}" as="componentData" key="componentName">
                                            <tr>
                                                <f:comment>Component name</f:comment>										
                                                <td class="nowrap-disabled">
                                                    <div class="name">
                                                        <f:link.action
                                                            action="edit"
                                                            controller="{component.controller}"
                                                            arguments="{
                                                                'vendorName': vendorName,
                                                                'extensionName': extensionName,
                                                                'component': component,
                                                                'componentName': componentName,
                                                                'componentData': componentData
                                                            }"
                                                        >
                                                            <strong>{componentName}</strong>
                                                        </f:link.action>
                                                    </div>
                                                </td>

                                                <f:comment>Description</f:comment>
                                                <td>
                								    {componentData.description.language.en}
                                                </td>

                                                <td class="nowrap">
                                                    <div class="btn-group" role="group">
												
                                                        <f:comment>Edit</f:comment>
                                                        <f:link.action
                                                            action="edit"
                                                            controller="{component.controller}"
                                                            arguments="{
                                                                'vendorName': vendorName,
                                                                'extensionName': extensionName,
                                                                'component': component,
                                                                'componentName': componentName,
                                                                'componentData': componentData
                                                            }"
                                                            class="btn btn-default"
                                                            data="{bs-toggle: 'tooltip'}"
                                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:editextension')}"
                                                        >
                                                            <core:icon identifier="actions-open"/>
                                                        </f:link.action>

<f:comment>Dupliziren</f:comment>
<f:comment>Rename</f:comment>

                                                        <f:comment>Delete</f:comment>
                                                        <f:link.action
                                                            action="delete"
                                                            controller="{component.controller}"
                                                            arguments="{
                                                                'vendorName': vendorName,
                                                                'extensionName': extensionName,
                                                                'component': component,
                                                                'componentName': componentName

                                                            }"
                                                            class="btn btn-default t3js-modal-trigger"
                                                            data="{
                                                                bs-toggle: 'tooltip',
                                                                severity: 'warning',
                                                                button-close-text: '{f:translate(key: \'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel\')}',
                                                                bs-content='{f:translate(key: \'LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/Language/locallang.xlf:msg.delete\')}'
                                                            }"
                                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:delete')}"
                                                        >
                                                            <core:icon identifier="actions-edit-delete"/>
                                                        </f:link.action>

                                                    </div>
                                                </td>
                                            </tr>
                                        </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </f:if>
        </f:if>
    </f:for>
</f:for>
