
<f:if condition="{componentsDev -> f:count()} > 0">
    <f:for
        each="{componentsDev}"
        as="componentsDevAs"
        key="componentsDevKey"
    >
        <f:if condition="!{extensionData.components.{componentsDevAs.componentName}}">
            <f:variable name="showComponents">show</f:variable>
        </f:if>
    </f:for>
</f:if>

<f:if condition="{showComponents}">
    <f:if condition="{componentsDev -> f:count()} > 0">
        <div class="tx_extensionbuilder_mod1_configuration">
            <div class="panel panel-default overflow-visible">
                <div class="btn-toolbar panel-heading">
                    <f:for
                       each="{componentsDev}"
                       as="componentsDevAs"
                       key="componentsDevKey"
                    >
                       <f:if condition="!{extensionData.components.{componentsDevAs.componentName}}">
                           <f:link.action
                                action="add"
                                controller="{componentsDevAs.controller}"
                                arguments="{
                                    'vendorName': '{vendorName}',
                                    'extensionName': '{extensionName}',
                                    'componentsName': '{componentsDevKey}'
                                }"
                                class="btn btn-default"
                                data="{bs-toggle: 'tooltip'}"
                                title="{componentsDevAs.title}"
                            >
                                {componentsDevAs.title}
                            </f:link.action>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </div>     
    </f:if>
</f:if>

<f:for
    each="{extensionData.components}"
    as="componentsAs"
    key="componentsKey"
>
    <f:for
        each="{componentsDev}"
        as="componentsDevAs"
        key="componentsDevKey"
    >
        <f:if condition="{componentsDevAs.componentName} == {componentsKey}">
			<f:if condition="{componentsAs -> f:count()} > 0">

                <f:variable name="{componentsKey}Collapsed">false</f:variable>

                <div class="tx_extensionbuilder_mod1_configuration">
                    <div class="panel panel-default overflow-visible">
                        <div class="panel-heading eb-list-card-header" data-group-id="{componentsKey}">
                            <button
                                type="button"
                                class="btn btn-link fw-bold p-0 eb-card-header-title-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#group-{componentsKey}-{vendorName}-{extensionName}"
                                aria-expanded="{f:if(condition: '{{componentsKey}Collapsed}', then: 'false', else: 'true')}"
                            >
                                <span>{componentsDevAs.title}</span>
                                <span
                                    class="t3js-table-total-items"
                                >
                                    ({componentsAs -> f:count()})
                                </span>
                            </button>

                            <f:variable name="componentsAsCount" value="{componentsAs -> f:count()}" />
                            <f:if condition="!{componentsDevAs.max} || {componentsAsCount} < {componentsDevAs.max}">
                                <f:link.action
                                    action="add"
                                    controller="{componentsDevAs.controller}"
                                    arguments="{
                                        'vendorName': '{vendorName}',
                                        'extensionName': '{extensionName}',
                                        'componentsName': '{componentsDevKey}'
                                    }"
                                    class="btn btn-default"
                                    data="{bs-toggle: 'tooltip'}"
                                    title="Add"
                                >
                                    Add
                                </f:link.action>
                            </f:if>

							<f:if condition="{componentsDevAs.docUrl}">
                                <f:link.external 
                                    uri="{componentsDevAs.docUrl}"
                                    target="_blank"
                                    class="btn btn-default"
                                >
                                    T3 Doc
                                </f:link.external>
							</f:if>

                            <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm eb-toggle-table eb-card-header-toggle-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#group-{componentsKey}-{vendorName}-{extensionName}"
                                aria-expanded="{f:if(condition: '{{componentsKey}Collapsed}', then: 'false', else: 'true')}"
                            >
                                <span class="collapseIcon">
                                    <core:icon
                                        identifier="{f:if(condition: '{{componentsKey}Collapsed}', then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}"
                                        size="small"
                                    />
                                </span>
                            </button>

                        </div>
			
                        <div
                            class="panel-collapse collapse {f:if(condition: '{{componentsKey}Collapsed}', then: 'show')}"
                            id="group-{componentsKey}-{vendorName}-{extensionName}"
                            data-table="group-{componentsKey}-{vendorName}-{extensionName}"
                        >

                            <div class="table-fit mb-0">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th><f:translate key="{lllBase}.component.xlf:label.componentName" /></th>
                                            <f:for
                                                each="{componentsDevAs.fields}"
                                                as="fieldAs"
                                                key="fieldKey"
                                            >
                                                <f:if condition="{fieldAs.showInList}">
                                                    <th>
                                                        <f:if condition="{f:translate(key: '{lllBase}.component.xlf:label.{fieldKey}')} != ''">
                                                            <f:then>
                                                                {f:translate(key: '{lllBase}.component.xlf:label.{fieldKey}')}
                                                            </f:then>
                                                            <f:else>
                                                                {fieldsKey -> f:format.case(mode: 'capital')} <code>(No LLL - label.{fieldKey})</code>
                                                            </f:else>
                                                        </f:if>
                                                    </th>
                                                </f:if>
                                            </f:for>
                                            <th data-sort-method="none"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <f:for
                                            each="{componentsAs}"
                                            as="componentAs"
                                            key="componentKey"
                                        >
                                            <tr>
                                                <f:comment>Component name</f:comment>	
                                                <td class="nowrap-disabled eb-width-200">
                                                    <div class="name">
                                                        <f:link.action
                                                            action="edit"
                                                            controller="{componentsDevAs.controller}"
                                                            arguments="{
                                                                'vendorName': '{vendorName}',
                                                                'extensionName': '{extensionName}',
                                                                'componentName': '{componentKey}',
                                                                'componentsName': '{componentsDevKey}'
                                                            }"
                                                        >
                                                            <strong>{componentKey -> f:format.case(mode: 'capital')}</strong>
                                                        </f:link.action>
                                                    </div>
                                                </td>

                                                <f:comment>Show in list</f:comment>
                                                <f:for
                                                    each="{componentsDevAs.fields}"
                                                    as="fieldAs"
                                                    key="fieldKey"
                                                >
                                                    <f:if condition="{fieldAs.showInList}">
                                                        <f:if condition="{fieldAs.type} == 'check'">
                                                            <f:then>
                                                                <td class="eb-width-50">
                                                                    <div class="form-check form-switch">
                                                                        <f:form.checkbox
                                                                            class="form-check-input"
                                                                            value="1"
                                                                            checked="{componentAs.{fieldKey}}"
                                                                            disabled="disabled"
                                                                        />
                                                                    </div>
							            				        </td>
                                                            </f:then>
                                                            <f:else>
                                                                <td class="b-width-200">
                                                                    {componentAs.{fieldKey}}
							            				        </td>
                                                            </f:else>
                                                        </f:if>
                                                    </f:if>
                                                </f:for>

                                                <f:comment>Control block</f:comment>
                                                <td class="col-control align-top">
                                                    <div class="btn-group" role="group">
                                                        <f:comment>Edit</f:comment>
                                                        <f:link.action
                                                            action="edit"
                                                            controller="{componentsDevAs.controller}"
                                                            arguments="{
                                                                'vendorName': '{vendorName}',
                                                                'extensionName': '{extensionName}',
                                                                'componentName': '{componentName}',
                                                                'componentsName': '{componentsDevKey}'
                                                            }"
                                                            class="btn btn-default"
                                                            data="{bs-toggle: 'tooltip'}"
                                                            title="{f:translate(key:'{lllBase}.xlf:edit')}"
                                                        >
                                                            <core:icon identifier="actions-open" />
                                                        </f:link.action>

                                                        <f:comment>Duplicate</f:comment>

                                                        <f:comment>Rename</f:comment>

                                                        <f:comment>Delete</f:comment>
                                                        <f:link.action
                                                            action="delete"
                                                            controller="{componentsDevAs.controller}"
                                                            arguments="{
                                                                'vendorName': '{vendorName}',
                                                                'extensionName': '{extensionName}',
                                                                'componentName': '{componentKey}',
                                                                'componentsName': '{componentsDevKey}'
                                                            }"
                                                            class="btn btn-default t3js-modal-trigger eb-margin-left-5"
                                                            data="{
                                                                bs-toggle: 'tooltip',
                                                                severity: 'warning',
                                                                button-close-text: '{f:translate(key: \'{lllBase}.xlf:cancel\')}',
                                                                bs-content='{f:translate(key: \'{lllBase}.xlf:msg.delete\')}'
                                                            }"
                                                            title="{f:translate(key:'{lllBase}.xlf:delete')}"
                                                        >
                                                           <core:icon identifier="actions-edit-delete" />
                                                        </f:link.action>
                                                    </div>
                                                </td>
                                            </tr>
                                        </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
        </f:if>
    </f:for>
</f:for>
