<f:if condition="{propertysDev -> f:count()} > 0">
    <f:for each="{propertysDev}" as="propertysDevAs" key="propertysDevKey">
        <f:if condition="!{componentData.propertys.{propertysDevKey}}">
            <f:variable name="showPropertys">show</f:variable>
        </f:if>
    </f:for>
</f:if>

<f:if condition="{showPropertys}">
    <f:if condition="{propertysDev -> f:count()} > 0">
        <div class="tx_extensionbuilder_mod1_configuration">
            <div class="panel panel-default overflow-visible">
                <div class="btn-toolbar panel-heading">
                    <f:for each="{propertysDev}" as="propertysDevAs" key="propertysDevKey">
                        <f:if condition="!{componentData.{propertysDevAs.uid}}">
                            <f:link.action
                                action="add"
                                controller="{propertysDevAs.controller}"
                                arguments="{
                                    'vendorName': '{vendorName}',
                                    'extensionName': '{extensionName}',
                                    'componentsUid': '{componentsUid}',
                                    'componentUid': '{componentUid}',
                                    'propertysUid': '{propertysDevAs.uid}'
                                }"
                                class="btn btn-default"
                                data="{bs-toggle: 'tooltip'}"
                                title="{propertyDevAs.title}"
                            >
                                 {propertysDevAs.title}
                            </f:link.action>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>
</f:if>

<f:for each="{componentData.propertys}" as="propertysAs" key="propertysKey">
    <div class="tx_extensionbuilder_mod1_configuration">
        <div class="panel panel-default overflow-visible">
            <div class="panel-heading multi-record-selection-panel" data-group-id="{propertysKey}">

                <button
                    type="button"
                    title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group')}"
                    class="btn btn-link fw-bold pt-1 p-0"
                    data-bs-toggle="collapse"
                    data-bs-target="#{propertysKey}-group"
                    aria-expanded="{f:if(condition: '{propertysKey}Collapsed', then: 'false', else: 'true')}"
                >
                    <span>{propertysDev.{propertysKey}.title}</span>
                    <span
                        class="t3js-table-total-items"
                        title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group.taskCount')}"
                    >
                        ({propertysAs -> f:count()})
                    </span>
                </button>

                <f:link.action
                    action="add"
                    controller="{propertysDev.{propertysKey}.controller}"
                    arguments="{
                        'vendorName': '{vendorName}',
                        'extensionName': '{extensionName}',
                        'componentsUid': '{componentsUid}',
                        'componentUid': '{componentUid}',
                        'propertysUid': '{propertysDev.{propertysKey}.uid}'
                    }"
                    class="btn btn-default"
                    data="{bs-toggle: 'tooltip'}"
                    title="{propertysDev.{propertysKey}.title}"
                >
                    Add
                </f:link.action>

                <button
                    type="button"
                    class="btn btn-default btn-sm float-end t3js-toggle-table"
                    data-bs-toggle="collapse"
                    data-bs-target="#{propertyKey}-group"
                    aria-expanded="{f:if(condition: '{nodeKey}Collapsed', then: 'false', else: 'true')}"
                >
                    <span class="collapseIcon">
                        <core:icon
                            identifier="{f:if(condition: '{nodeKey}Collapsed', then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}"
                            size="small"
                        />
                    </span>
                </button>
            </div>
	
            <div
                class="panel-collapse collapse {f:if(condition: '{propertyKey}Collapsed', then: 'show')}"
                id="{propertyKey}-group"
                data-table="task-group-{componentsName}"
            >
                <div class="table-fit mb-0">
                    <table class="table table-striped table-hover Group-table">
                        <thead>
                            <tr>
                                <th><f:translate key="{lllBase}.componentproperty.xlf:label.uid" /></th>
                                <th><f:translate key="{lllBase}.componentproperty.xlf:label.description" /></th>
                                <th data-sort-method="none"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <f:for each="{propertysAs}" as="propertyAs" key="propertyKey">
                                <tr>
                                    <f:comment>Component name</f:comment>										
                                    <td class="nowrap-disabled">
                                        <div class="name">
                                            <f:link.action
                                                action="edit"
                                                controller="{propertysDev.{propertysKey}.controller}"
                                                arguments="{
                                                    'vendorName': '{vendorName}',
                                                    'extensionName': '{extensionName}',
                                                    'componentsUid': '{componentsUid}',
                                                    'componentUid': '{componentUid}',
                                                    'propertysUid': '{propertysDev.{propertysKey}.uid}',
                                                    'propertyUid': '{propertyKey}'
                                                }"
                                            >
                                                <strong>{propertyKey}</strong>
                                            </f:link.action>
                                        </div>
                                    </td>

                                    <f:comment>Description</f:comment>
                                    <td>
                					    {propertyAs.description}
                                    </td>

                                    <td class="nowrap">
                                        <div class="btn-group" role="group">
                                            <f:comment>Edit</f:comment>
                                            <f:link.action
                                                action="edit"
                                                controller="{propertysDev.{propertysKey}.controller}"
                                                arguments="{
                                                    'vendorName': '{vendorName}',
                                                    'extensionName': '{extensionName}',
                                                    'componentsUid': '{componentsUid}',
                                                    'componentUid': '{componentUid}',
                                                    'propertysUid': '{propertysDev.{propertysKey}.uid}',
                                                    'propertyUid': '{propertyKey}'
                                                }"
                                                class="btn btn-default"
                                                data="{bs-toggle: 'tooltip'}"
                                                title="{f:translate(key:'{lllBase}.xlf:edit')}"
                                            >
                                                <core:icon identifier="actions-open" />
                                            </f:link.action>

                                            <f:comment>Duplicate</f:comment>

                                            <f:comment>Rename</f:comment>

                                            <f:comment>Delete</f:comment>
                                            <f:link.action
                                                action="delete"
                                                controller="{propertysDev.{propertysKey}.controller}"
                                                arguments="{
                                                    'vendorName': '{vendorName}',
                                                    'extensionName': '{extensionName}',
                                                    'componentsUid': '{componentsUid}',
                                                    'componentUid': '{componentUid}',
                                                    'propertysUid': '{propertysDev.{propertysKey}.uid}',
                                                    'propertyUid': '{propertyKey}'
                                                }"
                                                class="btn btn-default t3js-modal-trigger"
                                                data="{
                                                    bs-toggle: 'tooltip',
                                                    severity: 'warning',
                                                    button-close-text: '{f:translate(key: \'{lllBase}.xlf:cancel\')}',
                                                    bs-content='{f:translate(key: \'{lllBase}.xlf:msg.delete\')}'
                                                }"
                                                title="{f:translate(key:'{lllBase}.xlf:delete')}"
                                            >
                                                <core:icon identifier="actions-edit-delete" />
                                            </f:link.action>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</f:for>