<div class="tx_module_table">
    <div class="panel panel-default overflow-visible">

        <div class="panel-heading multi-record-selection-panel" data-group-id="commands">
            <button
                type="button"
                title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group')}"
                class="btn btn-link fw-bold pt-1 p-0"
                data-bs-toggle="collapse"
                data-bs-target="#extension-builder-group-tables"
                aria-expanded="{f:if(condition: tablesGroupCollapsed, then: 'false', else: 'true')}"
            >
                <span>Commands</span>
                <span
                    class="t3js-table-total-items"
                    title="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group.taskCount')}">
                    ({commandsData -> f:count()})
                </span>
            </button>

            <f:link.action
                action="add"
                controller="Command"
                arguments="{'vendorName': vendor.vendorName}"
                class="btn btn-default"
                data="{bs-toggle: 'tooltip'}"
                title="Add Table"
            >
                Add
            </f:link.action>

            <button
                type="button"
                class="btn btn-default btn-sm float-end t3js-toggle-table"
                data-bs-toggle="collapse"
                data-bs-target="#extension-builder-group-tables"
                aria-expanded="{f:if(condition: tablesGroupCollapsed, then: 'false', else: 'true')}"
            >
                <span class="collapseIcon">
                    <core:icon
                        identifier="{f:if(condition: tablesGroupCollapsed, then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}"
                        size="small"
                    />
                </span>
            </button>

        </div>
			
        <div
            class="panel-collapse collapse {f:if(condition: '{tablesGroupCollapsed}', then: 'show')}"
            id="extension-builder-group-tables"
            data-table="task-group-{commandName}">
				
            <div class="table-fit mb-0">
                <table class="table table-striped table-hover Group-table">
                    <thead>
                        <tr class="taskGroup_{commandName}">
									
                            <th>
                                <f:translate
                                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.component.xlf:label.name"
                                />
                            </th>
                            <th>
                                <f:translate
                                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.component.xlf:label.description"
                                />
                            </th>

                            <th data-sort-method="none"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <f:for each="{commandsData}" as="commandData" key="commandName">
                            <tr>
                                <f:comment>Edit</f:comment>										
                                <td class="nowrap-disabled">
                                        <div class="name">
                                            <f:link.action
                                                action="edit"
                                                controller="Command"
                                                arguments="{
                                                    'vendorName': vendorName,
                                                    'extensionName': extensionName,
                                                    'commandName': commandName,
                                                    'commandData': commandData
                                                }"
                                            >
                                                <strong>{commandName}</strong>
                                            </f:link.action>
                                        </div>
                                </td>

                                <f:comment>v</f:comment>
                                <td>
								    {commandData.description}
                                </td>

                                <td class="nowrap">
                                    <div class="btn-group" role="group">
												
                                        <f:comment>Edit</f:comment>

                                            <f:link.action
                                                action="edit"
                                                controller="Command"
                                                arguments="{
                                                    'vendorName': vendorName,
                                                    'extensionName': extensionName,
                                                    'commandName': commandName,
                                                    'commandData': commandData
                                                }"
                                            class="btn btn-default"
                                            data="{bs-toggle: 'tooltip'}"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:editextension')}"
                                        >
                                            <core:icon identifier="actions-open"/>
                                        </f:link.action>

										
<f:comment>Dupliziren</f:comment>
<f:comment>Rename</f:comment>

                                        <f:comment>Delete</f:comment>
<f:comment>
                                        <f:be.link
                                            route="extensionbuilder_typo3.{componentsRoute}.delete"
                                            parameters="{
                                                vendorName: vendorName,
                                                extensionName: extensionName,
                                                commandName: commandName
                                            }"
                                            class="btn btn-default t3js-modal-trigger"
                                            data="{
                                                bs-toggle: 'tooltip',
                                                severity: 'warning',
                                                button-close-text: '{f:translate(key: \'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel\')}',
                                                bs-content='{f:translate(key: \'LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/Language/locallang.xlf:msg.delete\')}'
                                            }"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:delete')}"
                                        >
                                            <core:icon identifier="actions-edit-delete"/>
                                        </f:be.link>
</f:comment>
                                    </div>

                                </td>
									
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>