<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Project"
            id="project-add-form"
        >
            <h1><f:translate key="{lllBase}.project.xlf:h1.add" /></h1>

            <div class="tx_extensionbuilder_module">
                <f:render partial="Project/FieldsName" arguments="{_all}" />
    			<f:render partial="Project/FieldsDescription" arguments="{_all}" />
            </div>

            <f:render
                partial="BuildFields"
                arguments="{
                    lllBase: '{lllBase}',
                    componentData: '{componentData}',
                    fields: '{componentFields}',
                    fieldData: '{componentData}'
                }"
            />
        </f:form>

    </f:section>
</html>