<div class="form-section">

    <div class="form-group" style="max-width: 324px;">
        <div>
            <label class="form-lable" for="developer.author">
                <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:developerId"/>
            </label>
            <div class="form-control-wrap">
			    <input
                    type="text"
                    class="form-control"
                    id="developer.developerId"
                    name="developer[developerId]"
                    value="{developer.developerId}"
                    maxlength="100"
                />
            </div>
        </div>

        <div>
            <label class="form-lable" for="developer.author">
                <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:author"/>
            </label>
            <div class="form-control-wrap">
			    <input
                    type="text"
                    class="form-control"
                    id="developer.author"
                    name="developer[author]"
                    value="{developer.author}"
                    maxlength="100"
                />
            </div>
        </div>

        <div>
            <label class="form-lable" for="developer.author_email">
                <f:translate
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:author_email"
                />
            </label>
            <div class="form-control-wrap">
    			<input
                    type="text"
                    class="form-control"
                    id="developer.author_email"
                    name="developer[author_email]"
                    value="{developer.author_email}"
                    maxlength="100"
                />
            </div>
        </div>

        <div>
            <label class="form-lable" for="developer.author_company">
                <f:translate
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:author_company"
                />
            </label>
            <div class="form-control-wrap">
    			<input
                    type="text"
                    class="form-control"
                    id="developer.author_company"
                    name="developer[author_company]"
                    value="{developer.author_company}"
                    maxlength="100"
                />
            </div>
        </div>

    </div>
</div>