<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Command"
            id="command-edit-form"
        >
            <h1>
                <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.command.xlf:h1.edit" />
            </h1>

            <div>
                <f:render partial="Fields/Name" arguments="{componentData: componentData}" />
	    		<f:render partial="Fields/Description" arguments="{componentData: componentData}" />
	    		<f:render partial="Fields/ToDo" arguments="{componentData: componentData}" />
            </div>
        </f:form>

    </f:section>
</html>