<div class="form-section" id="extension_name_row">

    <div class="form-group">

        <h1>
            <f:if condition="{configuration.validProKey}">
                <f:then>
                    <f:translate 
                        key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:proVersion"
                    />
                </f:then>
                <f:else>
                    <f:translate
                        key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:communityVersion"
                    />
                </f:else>
            </f:if>
        </h1>

        <label>
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:versionKey"/>
        </label>

        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="configuration.typo3.proVersionKey"
                name="configuration[typo3][proVersionKey]"
                value="{configuration.typo3.proVersionKey}"
            />
        </div>

        <f:if condition="{configuration.validProKey} != true">
            <h2>
                <f:translate 
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:proFeature"
                />
            </h2>
            <p>
                <f:translate 
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:proFeatureDevelopmentCode"
                />
            </p>
        </f:if>

    </div>
</div>