<div class="form-section">
    <div class="form-group">

        <label>
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:versionKey"/>
        </label>

        <div style="width: 700px; top left repeat-y;">
            <div style="float: left; width: 300px;">
                <f:translate 
        			key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:builderUrl"
                />
                <div class="form-control-wrap">
    	    		<input
                        type="text"
                        class="form-control"
                        id="configuration.typo3.builderUrl"
                        name="configuration[typo3][builderUrl]"
                        value="{configuration.typo3.builderUrl}"
                    />
                </div>
            </div>

            <div style="float: right; width: 300px;">
                <f:translate
        			key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:builderApi"
                />
                <div class="form-control-wrap">
        			<input
                        type="text"
                        class="form-control"
                        id="configuration.typo3.builderApi"
                        name="configuration[typo3][builderApi]"
                        value="{configuration.typo3.builderApi}"
                    />
                </div>
            </div>
        </div>


        <div style="width: 700px; top left repeat-y;">
            <div style="float: left; width: 300px;">
        <f:translate 
			key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:authUrl"
        />
        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="configuration.typo3.authUrl"
                name="configuration[typo3][authUrl]"
                value="{configuration.typo3.authUrl}"
            />
        </div>
        </div>

            <div style="float: right; width: 300px;">
        <f:translate
			key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:authApi"
        />
        <div class="form-control-wrap">
			<input
                type="text"
                class="form-control"
                id="configuration.typo3.authApi"
                name="configuration[typo3][authApi]"
                value="{configuration.typo3.authApi}"
            />
        </div>
        </div>
</div>
        </div>


        <f:if condition="{configuration.developmentServer}">
            <h2>
developmentServer<br />
                <f:translate 
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:proFeature"
                />
            </h2>
            <p>
            </p>
        </f:if>

        <div>
    </div>
</div>