<f:comment>ToDo</f:comment>

<div class="form-section">
    <div class="form-group">

        <h2>
            <f:translate key="{lllBase}.configuration.xlf:remoteInfo" />
        </h2>

        <div style="width: 700px; top left repeat-y;">
            <div style="float: left; width: 300px;">
                <f:translate 
        			key="{lllBase}.configuration.xlf:builderUrl"
                />
                <div class="form-control-wrap">
    			    <f:form.textfield
                        id="configuration.typo3.builderUrl"
                        name="configuration[typo3][builderUrl]"
                        value="{configuration.typo3.builderUrl}"
                        size="50"
                        readonly="readonly"
    			    />
                </div>
            </div>

            <div style="float: right; width: 300px;">
                <f:translate
        			key="{lllBase}.configuration.xlf:builderApi"
                />
                <div class="form-control-wrap">
    			    <f:form.textfield
                        id="configuration.typo3.builderApi"
                        name="configuration[typo3][builderApi]"
                        value="{configuration.typo3.builderApi}"
                        size="50"
                        readonly="readonly"
    			    />
                </div>
            </div>
        </div>

        <div style="width: 700px; top left repeat-y;">
            <div style="float: left; width: 300px;">
                <f:translate 
	    		    key="{lllBase}.configuration.xlf:authUrl"
                />
                <div class="form-control-wrap">
    			    <f:form.textfield
                        id="configuration.typo3.authUrl"
                        name="configuration[typo3][authUrl]"
                        value="{configuration.typo3.authUrl}"
                        size="50"
                        readonly="readonly"
    			    />
                </div>
            </div>

            <div style="float: right; width: 300px;">
                <f:translate
        			key="{lllBase}.configuration.xlf:authApi"
                />
                <div class="form-control-wrap">
    			    <f:form.textfield
                        id="configuration.typo3.authApi"
                        name="configuration[typo3][authApi]"
                        value="{configuration.typo3.authApi}"
                        size="50"
                        readonly="readonly"
    			    />
                </div>
            </div>
        </div>

    </div>
</div>