<f:asset.css inline="true" identifier="identifier123">
.table { 
   margin-left: auto;
   margin-right: auto;
   display: table;
   border: 1px solid black;
}
</f:asset.css>

    <div class="form-section">
        <h1>
Development Debug
        </h1>

        <table>
            <tr>
                <th>Table</th>
                <th>Table Column</th>
                <th>Extension</th>
                <th>Project</th>
                <th>Vendor</th>
                <th>Developer</th>
                <th>Configuration</th>
                <th>Info</th>
            </tr>
            <tr>

                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">List</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][table][list][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][table][list][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.table.list.fluid}',
                                                    then:'checked=configuration.debug.table.list.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][table][add][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][table][add][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.table.add.fluid}',
                                                    then:'checked=configuration.debug.table.add.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Edit</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][table][edit][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][table][edit][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.table.edit.fluid}',
                                                    then:'checked=configuration.debug.table.edit.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Duplicate</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][table][duplicate][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][table][duplicate][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.table.duplicate.fluid}',
                                                    then:'checked=configuration.debug.table.duplicate.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Rename</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][table][rename][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][table][rename][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.table.rename.fluid}',
                                                    then:'checked=configuration.debug.table.rename.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

				
                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">List</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][tableColumn][list][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][tableColumn][list][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.tableColumn.list.fluid}',
                                                    then:'checked=configuration.debug.tableColumn.list.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][tableColumn][add][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][tableColumn][add][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.tableColumn.add.fluid}',
                                                    then:'checked=configuration.debug.tableColumn.add.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Edit</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][tableColumn][edit][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][tableColumn][edit][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.tableColumn.edit.fluid}',
                                                    then:'checked=configuration.debug.tableColumn.edit.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Duplicate</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][tableColumn][duplicate][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][tableColumn][duplicate][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.tableColumn.duplicate.fluid}',
                                                    then:'checked=configuration.debug.tableColumn.duplicate.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Rename</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][tableColumn][rename][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][tableColumn][rename][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.tableColumn.rename.fluid}',
                                                    then:'checked=configuration.debug.tableColumn.rename.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">List</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][extension][list][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][extension][list][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.extension.list.fluid}',
                                                    then:'checked=configuration.debug.extension.list.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][extension][add][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][extension][add][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.extension.add.fluid}',
                                                    then:'checked=configuration.debug.extension.add.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Edit</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][extension][edit][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][extension][edit][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.extension.edit.fluid}',
                                                    then:'checked=configuration.debug.extension.edit.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Duplicate</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][extension][duplicate][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][extension][duplicate][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.extension.duplicate.fluid}',
                                                    then:'checked=configuration.debug.extension.duplicate.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Rename</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][extension][rename][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][extension][rename][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.extension.rename.fluid}',
                                                    then:'checked=configuration.debug.extension.rename.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">List</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][project][list][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][project][list][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.project.list.fluid}',
                                                    then:'checked=configuration.debug.project.list.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][project][add][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][project][add][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.project.add.fluid}',
                                                    then:'checked=configuration.debug.project.add.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Edit</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][project][edit][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][project][edit][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.project.edit.fluid}',
                                                    then:'checked=configuration.debug.project.edit.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Duplicate</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][project][duplicate][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][project][duplicate][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.project.duplicate.fluid}',
                                                    then:'checked=configuration.debug.project.duplicate.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add extsnsion</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][project][addextension][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][project][addextension][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.project.addextension.fluid}',
                                                    then:'checked=configuration.debug.project.addextension.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">List</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][vendor][list][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][vendor][list][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.vendor.list.fluid}',
                                                    then:'checked=configuration.debug.vendor.list.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Add</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][vendor][add][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][vendor][add][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.vendor.add.fluid}',
                                                    then:'checked=configuration.debug.vendor.add.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Edit</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][vendor][edit][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][vendor][edit][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.vendor.edit.fluid}',
                                                    then:'checked=configuration.debug.vendor.edit.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Duplicate</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][vendor][duplicate][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][vendor][duplicate][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.vendor.duplicate.fluid}',
                                                    then:'checked=configuration.debug.vendor.duplicate.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">Rename</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][vendor][rename][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][vendor][rename][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.vendor.rename.fluid}',
                                                    then:'checked=configuration.debug.vendor.rename.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">developer</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][developer][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][developer][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.developer.fluid}',
                                                    then:'checked=configuration.debug.developer.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">configuration</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][configuration][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][configuration][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.configuration.fluid}',
                                                    then:'checked=configuration.debug.configuration.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="raw">
                        <div class="form-group">
                            <label class="form-label">info</label>
                            <div class="formengine-field-item">
                                <div class="form-wizards-wrap">
                                    <div class="form-wizards-item-element">
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="configuration[debug][info][fluid]" value="0">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="configuration[debug][info][fluid]"
                                                value=1
                                                {f:if(
                                                    condition: '{configuration.debug.info.fluid}',
                                                    then:'checked=configuration.debug.info.fluid'
                                                )}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>