<f:comment>ToDo</f:comment>

<div class="form-section">
    <div class="form-group">

        <h2>
            builderLocal			
        </h2>

        <div class="raw">
            <div class="form-group">
                <label class="form-label">Add</label>
                <div class="formengine-field-item">
                    <div class="form-wizards-wrap">
                        <div class="form-wizards-item-element">
                            <div class="form-check form-switch">
                                <input type="hidden" name="configuration[typo3][buildLocal]" value="false">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    name="configuration[typo3][buildLocal]"
                                    value="true"
                                    {f:if(
                                        condition: '{configuration.typo3.buildLocal}',
                                        then:'checked=configuration.typo3.buildLocal'
                                    )}
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>