a<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module"/>
    <f:section name="Content">

        <h1>
            <f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.tables.xlf:edit.h1" />
        </h1>

        <form name="tx_extensionbuilder_form" id="tx_extensionbuilder_form" method="post">
            <div class="tx_extensionbuilder_module">
                <div>

                    <f:render partial="Extension/Enumerations/EnumerationNameField" arguments="{enumerationName: enumerationName}" />
                    <f:render partial="Extension/Enumerations/EnumerationDescriptionField" arguments="{enumerationData: enumerationData}" />

               </div>
            </div>
		
            <f:render
                partial="Extension/Enumerations/AddProperties"
                arguments="{
                    vendorName: vendorName,
			        extensionName: extensionName,
    			    tableName: tableName
                }"
            />

            <f:render partial="Extension/Enumerations/Constants/ConstantList" arguments="{_all}"/>

        </form>

    </f:section>
</html>