<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <f:form
            action="save"
            controller="Component"
            id="component-edit-form"
        >
            <div class="wrapper">
                <h1>
                    <f:translate 
                        key="{lllBase}.component.xlf:h1.edit"
                        arguments="{
                            0: '{componentsTitle}',
                            1: '{componentName}'
                        }"
                    />
                </h1>
            </div>

            <div class="eb-component-edit">
                <f:variable name="collapsed">true</f:variable>
                <div class="eb-component-edit-table">
                    <div class="card eb-component-edit-card mb-3">
                        <div class="card-header eb-component-edit-card-header">
                            <button
                                type="button"
                                class="btn btn-link fw-bold p-0 eb-card-header-title-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#group-{componentName}-{vendorName}-{extensionName}"
                                aria-expanded="{f:if(condition: collapsed, then: 'false', else: 'true')}"
                            >
                                <span>
                                    <f:translate key="{lllBase}.extension.xlf:button.extensionconfiguration" />
                                </span> 
                            </button>

                            <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm eb-toggle-table eb-card-header-toggle-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#group-{componentName}-{vendorName}-{extensionName}"
                                aria-expanded="{f:if(condition: collapsed, then: 'false', else: 'true')}"
                            >
                                <span class="collapseIcon">
                                    <core:icon
                                        identifier="{f:if(condition: collapsed, then: 'actions-view-list-expand', else: 'actions-view-list-collapse')}"
                                        size="small"
                                    />
                                </span>
                            </button>
                        </div>

                        <div
                            class="collapse eb-component-edit-collapse {f:if(condition: '!{collapsed}', then: 'show')}"
                            id="group-{componentName}-{vendorName}-{extensionName}"
                            data-table="group-{componentName}-{vendorName}-{extensionName}"
                        >

                            <div class="card-body eb-component-edit-body">
                                <f:render
                                    partial="BuildFields"
                                    arguments="{
                                        lllBase: '{lllBase}',
                                        fields: '{fields}',
                                        fieldsTabs: '{fieldsTabs}',
                                        fieldsData: '{fieldsData}',
                                        fieldsDataName: '{fieldsDataName}'
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <f:render
                partial="PropertyList"
                arguments="{
                    lllBase: '{lllBase}',
                    vendorName: '{vendorName}',
                    extensionName: '{extensionName}',
                    componentsName: '{componentsName}',
                    componentName: '{componentName}',
                    componentData: '{componentData}',
                    propertysDev: '{propertysDev}'
                }"
            />
        </f:form>
    </f:section>
</html>
