<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">
        <f:comment>DevelopmentCodeStart</f:comment>
        <f:if condition="{configuration.developmentServer}">
            <f:if condition="{configuration.debug.configuration.fluid}">
                <f:debug inline="1">{_all}</f:debug>
            </f:if>
        </f:if>
        <f:comment>DevelopmentCodeEnd</f:comment>
        <h1>
            <f:translate
                key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:extensionBuilderSettings"
            />
        </h1>
        <form name="tx_extensionbuilder_form" id="tx_extensionbuilder_form" method="post">
            <div class="tx_extensionbuilder_module">
                <f:render partial="Configutation/Fields/Configutation" arguments="{configuration: configuration}" />
            </div>
            <div class="tx_extensionbuilder_module">
test
            </div>

            <div class="tx_extensionbuilder_typo3_module">

                <f:comment>DevelopmentCodeStart</f:comment>
                <f:if condition="{configuration.developmentServer}">
        			<input
                        type="hidden"
                        id="configuration.developmentServer"
                        name="configuration[developmentServer]"
                        value="{configuration.developmentServer}"
                    />
                    <f:render partial="Configutation/Fields/DevelopmentDebug" arguments="{configuration: configuration}" />
                </f:if>
                <f:comment>DevelopmentCodeEnd</f:comment>
            </div>
        </form>
    </f:section>
</html>