<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:comment>
<f:debug inline="1">{_all}</f:debug>
        </f:comment>

        <f:form
            action="save"
            controller="Configuration"
            id="configuration-form"
        >
            <h1>
                <f:translate
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.configuration.xlf:extensionBuilderSettings"
                />
            </h1>

<f:comment>
            <f:render partial="Configutation/FieldsConfigutationVersion" arguments="{configuration: configuration}" />
</f:comment>
			
            <f:render partial="Configutation/FieldsConfigutation" arguments="{configuration: configuration}" />

            <f:if condition="{isProKey}">
                <f:if condition="{builderLocal}">
                    <f:render partial="Configutation/FieldsLocalBuild" arguments="{configuration: configuration}" />
                </f:if>
            </f:if>

		</f:form>
    </f:section>
</html>