<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Developer"
            id="developer-form"
        >
            <h1>
                <f:translate key="{lllBase}.developer.xlf:developerSettings" />
            </h1>

            <div class="tx_extensionbuilder_module">
                <h1>
                    <f:translate
                        key="{lllBase}.developer.xlf:h1"
                    />
                </h1>

                <f:render partial="Developer/FieldsDeveloper" arguments="{lllBase: lllBase, developer: developer}" />
                <f:render partial="Developer/FieldsDefault" arguments="{lllBase: lllBase, developer: developer, projects: projects, vendors: vendors}" />
                <f:render partial="Developer/FieldsMaintenance" arguments="{lllBase: lllBase, developer: developer}" />

<f:comment>
                <f:render
                    partial="BuildFields"
                    arguments="{
                        lllBase: lllBase, 
                        componentData: componentData,
                        fields: componentFields,
                        fieldData: 'componentData'
                    }"
                />
</f:comment>

            </div>
        </f:form>

    </f:section>
</html>