<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

<f:comment>
<f:debug>{_all}</f:debug>
</f:comment>

        <form name="tx_extensionbuilder_typo3_form" id="tx_extensionbuilder_typo3_form" method="post">
            <div class="tx_extensionbuilder_typo3_module">
                <h1><f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.developer.xlf:h1" /></h1>

                <f:render partial="Developer/DeveloperFields" arguments="{developerData: developerData}"/>

                <f:render partial="Developer/DefaultFields" arguments="{developerData: developerData, projects: projects, vendors: vendors}"/>
            </div>
        </form>

    </f:section>
</html>