<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:be.pageRenderer
            includeJavaScriptModules="{
                0: '@typo3/backend/modal.js',
                1: '@typo3/backend/tooltip.js'
            }"
        />

        <f:render partial="CurrentProjectList" arguments="{_all}" />
        <f:render partial="ExtensionList" arguments="{_all}" />

    </f:section>
</html>