<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <h1><f:translate key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang-getstarted.xlf:h1" /></h1>

        <p>
    	Step one: Create the first developer.
        </p>
	
        <p>
    	Step two: Create the first Vendor.
        </p>

        <p>
        Step three: Create your first Extension.
       </p>

        <p>
       Step four: Build the Extension.
        </p>

    </f:section>
</html>