<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Property"
            id="property-edit-form"
        >
            <h1>
                <f:translate
                    key="{lllBase}.componentproperty.xlf:h1.add"
                    arguments="{0: componentsTitle}"
                />
            </h1>

            <f:render
                partial="BuildFields"
                arguments="{
                    lllBase: '{lllBase}',
                    fields: '{fields}',
                    fieldsTabs: '{fieldsTabs}',
                    fieldsData: '{fieldsData}',
                    fieldsDataName: '{fieldsDataName}'
                }"
            />
        </f:form>

    </f:section>
</html>