<div class="widget-content-main">
   <div class="row text-center">
        <div class="col">
            <div class="fs-2 fw-bold">{stats.developers}</div>
            <div>Developers</div>
        </div>

        <div class="col">
            <div class="fs-2 fw-bold">{stats.vendors}</div>
            <div>Vendors</div>
        </div>

        <div class="col">
            <div class="fs-2 fw-bold">{stats.extensions}</div>
            <div>Extensions</div>
        </div>

        <div class="col">
            <div class="fs-2 fw-bold">{stats.projects}</div>
            <div>Projects</div>
        </div>
    </div>

</div>