<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />

    <f:section name="Content">

        <f:comment>DevelopmentCodeStart</f:comment>
        <f:if condition="{configuration.developmentServer}">
            <f:if condition="{configuration.debug.table.edit.fluid}">
                <f:debug inline="1">{_all}</f:debug>
            </f:if>
        </f:if>
        <f:comment>DevelopmentCodeEnd</f:comment>

        <h1>
            <f:translate
                key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.backend.modules.xlf:edit.h1"
            />
Edit Module {tableName}
        </h1>

        <form name="tx_extensionbuilder_form" id="tx_extensionbuilder_form" method="post">

<f:comment>
        $tableData['makeSql'] = true;
        $tableData['makeModel'] = true;
        $tableData['makeTca'] = true;
        $tableData['makeFluid'] = true;
        $tableData['pagination'] = false;
</f:comment>



        <div class="tx_extensionbuilder_module">
            <div>
                <f:render partial="Table/Fields/Name" arguments="{tableName: tableName}" />
                <f:render partial="Table/Fields/Description" arguments="{tableData: tableData}" />
           </div>
        </div>

<f:comment>

            <f:render
                partial="Table/AddProperties"
                arguments="{
                    vendorName: vendorName,
			        extensionName: extensionName,
    			    tableName: tableName
                }"
            />

columns
	


</f:comment>

            <f:render partial="Table/Column/List" arguments="{_all}" />

        </form>

    </f:section>
</html>