<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Module" />
    <f:section name="Content">

        <f:form
            action="save"
            controller="Scheduler"
            id="scheduler-add-form"
        >
            <h1>
                <f:translate
                    key="LLL:EXT:extensionbuilder_typo3/Resources/Private/Language/locallang.scheduler.xlf:h1.add"
                />
            </h1>

            <div class="tx_extensionbuilder_module">

                <f:render partial="Scheduler/FieldsName" arguments="{schedulerData: schedulerData}" />
	    		<f:render partial="Scheduler/FieldsDescription" arguments="{schedulerData: schedulerData}" />

            </div>
        </f:form>

    </f:section>
</html>